<div class='card'>
    <div class='card-header'>
        {{ pageTitle }}
    </div>
    <div class='card-body'>
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="characterName">Character Name</label>
                    <input #characterName type="text" class="form-control" id="characterName"
                        placeholder="Enter character name">
                </div>
                <div class="form-group">
                    <label for="side">Side</label>
                    <select class="form-control" id="side" required [(ngModel)]="selectedSide" name="side">
                        <option *ngFor="let side of sides" [ngValue]="side">{{side}}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary"
                    (click)="addCharacter(characterName.value); characterName.value=''; selectedSide=none">
                    Add Character
                </button>
            </form>
        </div>
        <hr>
        <div class='row'>
            <div class='col-md-2'>
                Filter by:
            </div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h4>Filtered by: {{ listFilter }}</h4>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf="charactersStore.characters && charactersStore.characters.length">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Side</th>
                        <th class='iw-centered'>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="charactersStore.characters$">
                    <tr *ngFor='let character of filteredCharacters'>
                        <td>
                            <a [routerLink]="['/characters', character.id]">
                                {{character.name}}
                            </a>
                        </td>
                        <td>{{ character.side }}</td>
                        <td class='iw-centered'>
                            <i class="fa fa-edit fa-lg" (click)='openDialog(character)'></i>
                            <i class="fa fa-trash fa-lg" aria-hidden="true" (click)='deleteCharacter(character)'></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>