/* Spinner */
.spinner {
    font-size:300%;
    position:absolute;
    top: 50%;
    left: 50%;
    z-index:10
  }
  
  .fa-spinner {
      -webkit-animation: spin 1000ms infinite linear;
      animation: spin 1000ms infinite linear;
  }
  @-webkit-keyframes spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }
  @keyframes spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }
.dropdown-content {
    display: none;
    position: absolute;
    top: 2.4rem;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: #ddd;}

.navbar-light .navbar-nav .nav-link.active {
    color: #007ACC;
}