<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <div class="card-body" *ngIf="character">

        <div class="row">

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-md-6"
                    style="max-height:100px;padding-bottom:10px;"
                    >{{character.name}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Side:</div>
                    <div class="col-md-6">
                            <div *ngIf="character.side == 'dark' ">
                                    <img src="./assets/images/dark.png" class="img-responsive center-block"
                                    style="max-height:100px;padding-bottom:10px" 
                                    title='dark'/>
                                </div>
                                <div *ngIf="character.side == 'light'">
                                    <img src="./assets/images/light.png" class="img-responsive center-block"
                                    style="max-height:100px;padding-bottom:10px" 
                                    title='light'/>
                                </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- <div *ngIf="character.side == 'dark' ">
                    <img src="./assets/images/dark.png" class="img-responsive center-block"
                    style="max-height:300px;padding-bottom:50px" />
                </div>
                <div *ngIf="character.side == 'light'">
                    <img src="./assets/images/light.png" class="img-responsive center-block"
                    style="max-height:300px;padding-bottom:50px" />
                </div> -->
                
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <button class="btn btn-outline-secondary mr-3" style="width:80px" [routerLink]="['/characters']"
                    queryParamsHandling="preserve">
                    <i class="fa fa-chevron-left"></i> Back
                </button>
                <button class="btn btn-outline-primary" style="width:80px" (click)="openDialog(character)">
                    Edit
                </button>
                <button class="btn btn-outline-primary" style="width:80px; border-color: red; color: red" (click)="delete(character)">
                        Delete
                </button>
            </div>
        </div>

    </div>
</div>

<!-- <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}} -->
<!-- </div> -->