.row {
    padding: 0.5rem;
}

.col-md-6 {
    font-weight: 200;
}
 i.fa::before {
     cursor: pointer;
 }
 #deleteLine {
    margin: 10px;
 }

 textarea {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    box-sizing: border-box;
 }

 #plus-icon {
     text-align: center;
 }

@media (min-width: 768px) {
    .row {
        margin: auto;
        width: 70%;
        padding: 10px;
    }
    #add-line, #input-line{
        width: 100%;
        padding: 0px;
    }

    textarea, #plus-icon  {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
    }
}