<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body" *ngIf="character">
        <div class="wizard">
            <a [routerLink]="['info']" routerLinkActive="active">
                Basic Information
            </a>
            <a [routerLink]="['lines']" routerLinkActive="active">
                Lines
            </a>
        </div>
        <router-outlet></router-outlet>
        <hr>
        <div class="row actions">
            <div class="col-md-4 mt-1">
                <button class="btn btn-outline-secondary" [routerLink]="['/characters']" queryParamsHandling="preserve">
                    <i class="fa fa-chevron-left"></i> Back
                </button>
            </div>
            <div class="col-md-4 mt-1">
                <button class="btn btn-outline-danger" (click)="delete(character)">
                    <i class="fa fa-trash"></i> Delete
                </button>
            </div>
        </div>
    </div>
</div>