<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body" *ngIf="character">
        <div class="row">
            <div class="col-md-6 text-center">Name:</div>
            <div class="col-md-3 text-center">{{character.name}}</div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">Side:</div>
            <div class="col-md-3">
                <div *ngIf="character.side == 'dark' ">
                    <img src="./assets/images/dark.png" class="rounded mx-auto d-block"
                        style="max-height:100px;padding-bottom:10px" title='dark' />
                </div>
                <div *ngIf="character.side == 'light'">
                    <img src="./assets/images/light.png" class="rounded mx-auto d-block"
                        style="max-height:100px;padding-bottom:10px" title='light' />
                </div>
            </div>
        </div>
        <hr>
        <div class="row actions text-center">
            <div class="col-md-4 mt-1">
                <button class="btn btn-outline-secondary" [routerLink]="['/characters']" queryParamsHandling="preserve">
                    <i class="fa fa-chevron-left"></i> Back
                </button>
            </div>
            <div class="col-md-4 mt-1">
                <button class="btn btn-outline-primary" (click)="openDialog(character)">
                    <i class="fa fa-edit"></i> Edit
                </button>
            </div>
            <div class="col-md-4 mt-1">
                <button class="btn btn-outline-danger" (click)="delete(character)">
                    <i class="fa fa-trash"></i> Delete
                </button>
            </div>
        </div>
    </div>
</div>