<h1 mat-dialog-title>You can now edit {{data.name}}</h1>
<div mat-dialog-content>
    <p>Do you really want to change its name?</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <p>And side?</p>
    <mat-select class="form-control" id="side" required [(ngModel)]="data.side" name="side">
        <mat-option matInput *ngFor="let side of sides" value="{{side}}">{{side}}</mat-option>
    </mat-select>
    <hr/>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No, thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Yes</button>
</div>